/* CUSTOM PROPS */
:root {
  --green-color: #30C88F;
  --text-color: #2D314D;
  --gray-color: #9597A5;
  --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

/* FONTS */
@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
    url('../fonts/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
    url('../fonts/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fafafa;
  color: var(--gray-color);
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  letter-spacing: -0.25;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */

.button {
  width: 100%;
  display: inline-block;
  max-width: 163px;
  padding: 8px 34px;
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.button-green {
  background-color: var(--green-color);
  background-image: var(--gradient);
  color: #fff;
}

.button-green:hover {
  opacity: 0.4;
}


/* LOGO */

.logo {
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 139px;
  height: 20px;
  object-fit: contain;
}

/* SITENAV */


.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: normal;
}

.sitenav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sitenav__item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--green-color);
  background-image: var(--gradient);
  opacity: 0;
  content: "";
}

.sitenav__item:hover::after {
  opacity: 1;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--gray-color);
}

.sitenav__link:hover {
  color: var(--text-color);
}


/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */



/* SITE-HEADER */

.site-header {
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* HERO */
.hero {
  position: relative;
  z-index: 30;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url(../img/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 593px) -261px;
}

.hero__content {
  width: 100%;
  max-width: 450px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  color: var(--text-color);
  letter-spacing: -1px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-color);
  letter-spacing: -0.28px;
}

.hero__img {
  position: absolute;
  width: 730px;
  height: 900px;
  left: calc(50% + 74px);
  top: -112px;
}


/* FEATURES */

.features {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #f4f5f7;
}

.features__info {
  width: 100%;
  max-width: 635px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  color: var(--text-color);
  letter-spacing: -0.71px;
}

.features__text {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-color);
  letter-spacing: -0.28px
}

.features__list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-bottom: 80px;
  list-style: none;
}

.features__item {
  width: 100%;
  max-width: 255px;
  margin-left: 30px;
  margin-bottom: 80px;
}

/* FEATURE */

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--green-color);
  background-image: var(--gradient);
}

.feature__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}

.feature__icon--simple-budgeting {
  width: 33px;
  height: 40px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  color: var(--text-color);
  letter-spacing: -0.42px
}

.feature__description {
  margin-top: 0;
  letter-spacing: -0.25px;
}

/* RETINA BACKGROUND IMAGES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}